@{
    ViewData["Title"] = "Crear Curso";
}
<div class="text-center">
  <h1 class="display-4 fuente" style="font-family: 'Averia Libre', cursive;">uflow</h1>
  <p class="fuente">Aprender online nunca fue tan facil</p>
</div>