/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root{
  --Hover: #7C7C7C;

  --Fuente: rgba(0, 0, 0, 0.9);
  --Fondo: #F9F9F9;
  --Card: #F8F9FA;
  --Boton: #343A40;
  --Borde: rgba(0, 0, 0, .15)
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.card {
  transition: 0.3s;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

.card:hover {
  /* transform: scale(1.05); */
  transform: translate3d(-10px, -10px, 10px);
}

.btn{
  transition: 0.3s;
  border-radius: 8px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#title > path {
  fill: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Quicksand', cursive;
  transition: 0.3s;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Sistema de votos con Estrellas */
.rating {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}
.rating-0 {
  filter: grayscale(100%);
}
.rating > input {
  display: none;
}

.rating .hover > label {
  cursor: pointer;
}

.rating > label {
  cursor: default;
  width: 30px;
  height: 30px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}
.rating > input:checked ~ label, .rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
.rating .hover > input:not(:checked) ~ label:hover, .rating .hover > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.dropdown-menu {
  transition: 1s;
}
.darken-grey-text {
  color: #2E2E2E;
}

/* Sistema de votos con Estrellas */


/* Modo Claro */
body {
  background: var(--Fondo);
}

nav a{
  color: var(--Fuente) !important;
  transition: 0.3s;
}
nav a:hover{
  color: var(--Hover) !important;
}

button:focus{
  outline: 0;
}

.navbar-toggler {
  border-color: var(--Borde);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-outline {
  color: var(--Boton);
  border-color: var(--Boton);
}
.btn-outline:hover {
  color: var(--Fondo);
  background-color: var(--Boton);
}

.dropdown-item {
  color: var(--Fuente) !important;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: var(--Fuente) !important;
  background-color: var(--Hover) !important;
}
.dropdown-item:active {
  background-color: transparent;
}
.dropdown-menu {
  background-color: var(--Card);
  border: 1px solid var(--Borde);
  padding: 0;
}
.nav-item, .dropdown > div {
  transition: 0.3s;
}

.card {
  background-color: var(--Card);
  color: var(--Fuente);
  padding: 0;
}

.fuente {
  color: var(--Fuente);
}

/* Modo Claro */
/* Modo Oscuro */

@media (prefers-color-scheme: dark) {
  :root{
    --Fuente: #EEE;

    --Fondo: #1F2123;
    --Card: #343A40;
    --Boton: #F8F9FA;
    --Borde: rgba(255, 255, 255, .15);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .card{
    border: 0;
  }
}

/* Modo Oscuro */

@media(max-width: 576px){
  .card {
    box-shadow: none;
  }
  .card:hover {
    transform: scale(1.025);
  }
}